alertmanager:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: "{{ certmanager_issuer }}"
    ingressClassName: nginx
    hosts:
      - "{{ alertmanager_domain }}"
    tls:
      - secretName: alertmanager-tls
        hosts:
        - "{{ alertmanager_domain }}"
