apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: "{{ prometheusOperator_name }}-apache-exporter"
  labels:
    app.kubernetes.io/component: metrics
    app.kubernetes.io/name: prometheus-apache-exporter
    jobLabel: apache-exporter
    release: "{{ prometheusOperator_name }}"
spec:
  selector:
    matchLabels:
      exporter: apache
  endpoints:
  - interval: 5s
    targetPort: 9117
    path: /metrics
